<div class="container-fluid">
  <div class="m-auto">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 text-center m-auto">

        <div class="calculator-box mb-5">
          <input type="text" class="w-100 visor form-control shadow-none">
          <div class="keypad w-100">
              <div class="row m-2">
                <div class="col-2"><button class="buttons w-100 p-1 btn">7</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">8</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">9</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">&#247;</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">&#8592;</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">C</button></div>
              </div>
              <div class="row m-2">
                <div class="col-2"><button class="buttons w-100 p-1 btn">4</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">5</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">6</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">x</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">(</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">)</button></div>
              </div>
              <div class="row m-2">
                <div class="col-2"><button class="buttons w-100 p-1 btn">1</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">2</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">3</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">-</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">x<sup>2</sup></button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">&#8730;</button></div>
              </div>
              <div class="row m-2">
                <div class="col-2"><button class="buttons w-100 p-1 btn">0</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">.</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">%</button></div>
                <div class="col-2"><button class="buttons w-100 p-1 btn">+</button></div>
                <div class="col-4"><button class="buttons w-100 p-1 btn">=</button></div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
